[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
Jinja2 = "*"
click = "*"
itsdangerous = "*"
MarkupSafe = "*"
Werkzeug = "*"
pytube = "*"
requests = "*"
insta-scrape = "*"
uuid = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.8"
